@import "~bootstrap/scss/bootstrap.scss";

body {
  background: rgb(0, 140, 255);
}

#btn {
  border: 3px solid blueviolet;
  background-color: yellow;
  padding: 10px 50px;
  font-family: "montserrat";
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
}

#btn:hover {
  color: red;
}
